body{
    background-color: black;
}

  
h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem; 
}

.motivation-pic{
    width: 100%;
    border: 5px solid white;
}

.poster-div{
    margin-top: 60px;
    margin-left: 25%;
    width:50%;
    font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
}
